# Populated by bootstrap.py; this template is committed for reference.
EVENT_HUB_FQDN=evhns-guardianlink-dev-weu.servicebus.windows.net
EVENT_HUB_NAME=telemetry
CONSUMER_GROUP=inspector
STARTING_POSITION=@latest
APPLICATIONINSIGHTS_CONNECTION_STRING=InstrumentationKey=<key>;IngestionEndpoint=https://<region>.in.applicationinsights.azure.com/
