# Populated by bootstrap.py; this template is committed for reference.
IOTHUB_DEVICE_CONNECTION_STRING=HostName=<hub>.azure-devices.net;DeviceId=sim-01;SharedAccessKey=<key>
APPLICATIONINSIGHTS_CONNECTION_STRING=InstrumentationKey=<key>;IngestionEndpoint=https://<region>.in.applicationinsights.azure.com/
DEVICE_ID=sim-01
TELEMETRY_PERIOD_S=20
CRASH_PERIOD_S=120
